{% load static %}
<div class="sidemenu bg-light d-flex justify-content-center">
    <div class="sidemenu-icon-container">
        <a href="{% url 'user.dashboard' %}" class="icon-link"> <img src="{% static './image/icons/home.png' %}" class="icon-home"></a>
        <a href="{% url 'user.search' %}" class="icon-link"><img src="{% static './image/icons/search.png' %}" class="icon-contact-info"></a>
        <a href="{% url 'user.posts' %}" class="icon-link"><img src="{% static './image/icons/news-feed.png' %}" class="icon-message"></a>
        <a href="{% url 'create-post' %}" class="icon-link"><img src="{% static './image/icons/create.png' %}" class="icon-logout"></a>
        <a href="{% url 'chat.dashboard' %}" class="icon-link"><img src="{% static './image/icons/chat.png' %}" class="icon-logout"></a>
        <a href="{% url 'user.settings' %}" class="icon-link"><img src="{% static './image/icons/settings.png' %}" class="icon-logout"></a>
        <a href="{% url 'user.profile.all' user_id=1%}" class="icon-link"><img src="{% static './image/icons/profile.png' %}" class="icon-profile"></a>
    </div>
</div>
